click==8.1.7 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4.0"
svd2py==1.0.2 ; python_version >= "3.9" and python_version < "4.0"
